@model TravelAgencyBackend.ViewModels.ParticipantDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>查看資料</h1>

<div>
    <h4>參與人</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            會員姓名
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedPlace)
        </dd>
    </dl>
</div>
<div>
    @* 管理參與人 *@
    @if (PermissionChecker.CanManageParticipants)
    {
        <a asp-action="Edit" asp-route-id="@Model?.FavoriteTravelerId" class="btn btn-success">修改資料</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model?.FavoriteTravelerId" class="btn btn-success disabled"
        tabindex="-1" aria-disabled="true" onclick="return false;">
            修改資料
        </a>
    }

    <div class="vr"></div>

    @* 查看參與人 *@
    @if (PermissionChecker.CanViewParticipants)
    {
        <a asp-action="Index" asp-route-memberId="@Model?.MemberId" class="btn btn-outline-secondary">
            找發起人
        </a>
    }
    else
    {
        <a asp-action="Index" asp-route-memberId="@Model?.MemberId" class="btn btn-outline-secondary disabled"
        tabindex="-1" aria-disabled="true" onclick="return false">
            找發起人
        </a>
    }

    @* 查看參與人 *@
    @if (PermissionChecker.CanViewParticipants)
    {
        <a asp-action="Index" class="btn btn-secondary">
            回到參與人列表
        </a>
    }
    else
    {
        <a asp-action="Index" class="btn btn-secondary disabled"
        tabindex="-1" aria-disabled="true" onclick="return false">
            回到參與人列表
        </a>
    }

</div>
<form asp-action="Delete" asp-route-id="@Model?.FavoriteTravelerId" method="post" onsubmit="return confirm('確定要刪除嗎？')">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="FavoriteTravelerId" />

    @* 管理參與人 *@
    @if (PermissionChecker.CanManageParticipants)
    {
        <button type="submit" class="btn btn-danger">確認刪除</button>
    }
    else
    {
        <button type="submit" class="btn btn-danger disabled"
        tabindex="-1" aria-disabled="true" onclick="return false">
        確認刪除
        </button>
    }

</form>
