@model TravelAgencyBackend.ViewModels.CustomTravelPendingViewModel

@{
	ViewData["Title"] = "List";
}

<h2>待審核訂單</h2>

<p>
	@using (Html.BeginForm())
	{
		<div class="fs-5">
			會員或員工編號關鍵字：@Html.TextBox("txtKeyword")
			<input type="submit" value="搜尋" class="btn btn-outline-info" />
		</div>
	}
</p>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().CustomTravelId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().MemberId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().ReviewEmployeeId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().CreatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().UpdatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().DepartureDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().EndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().Days)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().People)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().TotalAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomTravel.First().Note)
			</th>
			<th>檢視</th>
			<th>修改</th>
			<th>刪除</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.CustomTravel)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CustomTravelId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MemberId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReviewEmployeeId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DepartureDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Days)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.People)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TotalAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Note)
				</td>
				<td>
					@if (PermissionChecker.CanViewCustomTravels)
					{
						<a asp-controller="CustomTravelPending" asp-action="ContentList" asp-route-id="@item.CustomTravelId" class="btn btn-outline-success">檢視</a>
					}
					else
					{
						<a class="btn btn-outline-success disabled" tabindex="-1" aria-disabled="true" onclick="return false">檢視</a>
					}

				</td>
				<td>
					@if (PermissionChecker.CanManageCustomTravels)
					{
						<a asp-controller="CustomTravelPending" asp-action="EditOrder" asp-route-id="@item.CustomTravelId" class="btn btn-outline-warning">修改</a>
					}
					else
					{
						<a class="btn btn-outline-warning disabled" tabindex="-1" aria-disabled="true" onclick="return false">修改</a>
					}
				</td>
				<td>
					@if (PermissionChecker.CanManageCustomTravels)
					{
						<a asp-controller="CustomTravelPending" asp-action="DeleteOrder" asp-route-id="@item.CustomTravelId" class="btn btn-outline-danger" onclick="return confirm('確定要刪除嗎?')">刪除</a>
					}
					else
					{
						<a class="btn btn-outline-danger disabled" tabindex="-1" aria-disabled="true" onclick="return false">刪除</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
