@model IEnumerable<TravelAgencyBackend.Models.OfficialTravel>

@{
    ViewData["Title"] = "Index";
}

<h1>專案檢視</h1>

<p>
    @if (PermissionChecker.CanManageOfficialTravels)
    {
        <a asp-action="Create">新增專案</a>

    }
    else
    {
        <a asp-action="Create">新增專案</a>

    }
    |
    @Html.ActionLink("檢視行程細節", "Index", "OfficialTravelDetails")
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableUntil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableUntil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.Country)
                </td>
                <td>
                    @if (PermissionChecker.CanManageOfficialTravels)
                    {
                        <a asp-action="Edit" asp-route-id="@item.OfficialTravelId">編輯</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.OfficialTravelId" class="disabled"
                        tabindex="-1" aria-disabled="true" onclick="return false;">
                            編輯
                        </a>
                    }
                    |
                    @if (PermissionChecker.CanViewOfficialTravels)
                    {
                        <a asp-action="Details" asp-route-id="@item.OfficialTravelId">檢視</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.OfficialTravelId" class="disabled"
                        tabindex="-1" aria-disabled="true" onclick="return false;">
                            檢視
                        </a>
                    }
                    |
                    @if (PermissionChecker.CanManageOfficialTravels)
                    {
                        <a asp-action="Delete" asp-route-id="@item.OfficialTravelId">刪除</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.OfficialTravelId" class="disabled"
                           tabindex="-1" aria-disabled="true" onclick="return false;">
                        刪除
                        </a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}