@model TravelAgency.Shared.Models.OrderForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentMenu.MenuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChineseSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChineseSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChineseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChineseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupMethodOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupMethodOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingDetailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingDetailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreDetailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreDetailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxIdOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxIdOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxIdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxIdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCreationTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
