@model TravelAgencyBackend.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>檢視</h1>

<div>
    <h4>航班資料</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirportCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirportCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirportCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirportCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightUid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightUid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyncedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyncedAt)
        </dd>
    </dl>
</div>
<div>
    @if (PermissionChecker.CanViewOfficialTravels)
    {
        <a asp-action="Index">回到航班目錄</a>
    }
    else
    {
        <a asp-action="Index" class="disabled"
           tabindex="-1" aria-disabled="true" onclick="return false;">
        回到航班目錄
        </a>
    }
</div>
