@model TravelAgency.Shared.Models.GroupTravel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupTravel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialTravelDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialTravelDetail.OfficialTravelDetailId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupTravelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
