@model IEnumerable<TravelAgency.Shared.Models.OfficialTravelSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attraction1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attraction2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attraction3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attraction4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attraction5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialTravelDetail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lunch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dinner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialTravelDetail.OfficialTravelDetailId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfficialTravelScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfficialTravelScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfficialTravelScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
