@model TravelAgencyBackend.Models.OfficialTravelDetail

@{
    ViewData["Title"] = "Details";
}

<h1>檢視</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumGroupSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumGroupSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialTravel.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightId)
        </dd>
    </dl>
</div>
<div>
    @if (PermissionChecker.CanManageOfficialTravels)
    {
        <a asp-action="Edit" asp-route-id="@Model?.OfficialTravelDetailId">編輯</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model?.OfficialTravelDetailId" class="disabled"
        tabindex="-1" aria-disabled="true" onclick="return false;">
            編輯
        </a>
    }
    |
    @if (PermissionChecker.CanViewOfficialTravels)
    {
        <a asp-action="Index">回到行程目錄</a>
    }
    else
    {
        <a asp-action="Index" class="disabled"
           tabindex="-1" aria-disabled="true" onclick="return false;">
        回到行程目錄
        </a>
    }
</div>
