@model IEnumerable<TravelAgency.Shared.Models.OfficialTravelDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BabyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialTravel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TravelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BabyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialTravel.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfficialTravelDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfficialTravelDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfficialTravelDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
